<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/assets/css/burger_style.css" />
    <title>Burgers</title>
    <script src="https://code.jquery.com/jquery.js"></script>
</head>

<body>
    {{{ body }}}
</body>


<script>


    $("#newBurgerButton").click(function (event) {
        event.preventDefault();
        const newBurger = {
            burger_name: $("#burgerText").val().trim()
        }
        console.log(newBurger)
        $.ajax("/api/burgers", {
            type: "POST",
            data: newBurger
        }).then(
            function () {
                console.log("created new burger");
            }
        );
        location.reload();
    });

    $(".delete").click(function (event) {
        const id = $(this).attr("data-id");
        $.ajax(`/api/burgers/${id}`, {
            type: "DELETE",
            data: { id }
        }).then(function () {
            console.log("Deleted, " + id);
        });
        location.reload();
    })

    $(".devour").click(function (event) {
        event.preventDefault();
        const id = $(this).data("id");
        const newDevoured = 1


        const newDevourState = {
            devoured: newDevoured
        }
        $.ajax(`/api/burgers/${id}`, {
            type: "PUT",
            data: newDevourState
        }).then(function () {

        });
        location.reload();
    })











</script>

</html>