<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/css/burger_style.css" />
    <title>Burgers</title>
    <script src="https://code.jquery.com/jquery.js"></script>
</head>

<body>
    {{{ body }}}
</body>

<script>

    $("#newBurgerButton").click(function (event) {
        event.preventDefault();
        const newBurger = {
            burger_name: $("#burgerText").val().trim()
        }
        $.ajax("/api/burgers", {
            type: "POST",
            data: newBurger
        }).then(
            function () {
            }
        );
        location.reload();
    });

    $(".delete").click(function (event) {
        const id = $(this).attr("data-id");
        $.ajax(`/api/burgers/${id}`, {
            type: "DELETE",
            data: { id }
        }).then(function () {
        });
        location.reload();
    })

    $(".devour").click(function (event) {
        event.preventDefault();
        const id = $(this).data("id");
        const newDevoured = 1
        const newDevourState = {
            devoured: newDevoured
        }
        $.ajax(`/api/burgers/${id}`, {
            type: "PUT",
            data: newDevourState
        }).then(function () {

        });
        location.reload();
    })
</script>

</html>